Package: emcweb
Version: 1.0
Maintainer: Aspanta Limited <info@aspanta.com>
Architecture: all
Section: net
Priority: optional
Description: Emercoin Web Wallet
Depends: emercoin, emcssh, pwgen, openssl, apache2, python3-flask, python3-requests, libapache2-mod-wsgi-py3
