<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.85, maximum-scale=0.85, user-scalable=0">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="115x115" href="{{ url_for('static', filename='img/favicon-retina.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/config-style.css') }}">
    <title>EMCWEB config</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
    <body>
    {% if created %}
    <div class="one-column">
    <div class="logo"></div>
    <h1 class="green upper">{% if message %}{{ message }}{% else %} PLEASE WAIT<br/>WHILE YOUR SYSTEM<br/><a href="/"> IS CONFIGURED</a>{% endif %}</h1>
    </div>
    {% if not message %}
        <script>
            var start = new Date().getTime();
            for (var i = 0; i < 1e7; i++) {
                if ((new Date().getTime() - start) > 5000){
                    break;
                }
            }
            window.location.replace("/");
        </script>
    {% endif %}
    {% else %}
        <div class="one-column">
            <div class="logo"></div>
            <h1 class="green upper">Blockchain engine<br/>config</h1>
            <div class="error black {% if error_msg %} active {% endif %}">
                <h1><i class="material-icons">warning</i>Error</h1>
                <span>{{ error_msg }}</span>
            </div>
            <form id="config" novalidate action="{{ url_for('config') }}" method="post" autocomplete="off">

                <h3 class="black upper">Account settings</h3>
                <div class="txt-input txt-green">
                    <input type="text" name="username" required data-pattern="^[\w\d-_]+$" value="{{ account.username }}">
                    <span class="bar"></span>
                    <label class="upper">login *</label>
                </div>
                <div class="txt-input txt-green">
                    <input type="password" name="password" required>
                    <span class="bar"></span>
                    <label class="upper">Password *</label>
                </div>
                <div class="txt-input txt-green">
                    <input type="password" name="password2" required>
                    <span class="bar"></span>
                    <label class="upper">Confirm Password *</label>
                </div>

                <h3 class="black upper">Database settings</h3>
                <div class="txt-input txt-green">
                    <input type="text" name="databasehost" data-pattern="^[\w\d-_:\/\.]+$" value="{{ db.host }}">
                    <span class="bar"></span>
                    <label class="upper">database host</label>
                </div>
                <div class="txt-input txt-green">
                    <input type="text" name="databaseport" data-pattern="^[\d]{2,5}$" value="{{ db.port }}">
                    <span class="bar"></span>
                    <label class="upper">database port</label>
                </div>
                <div class="txt-input txt-green">
                    <input type="text" name="databasename" required data-pattern="^[\w\d-_]+$" value="{{ db.name }}">
                    <span class="bar"></span>
                    <label class="upper">database name *</label>
                </div>
                <div class="txt-input txt-green">
                    <input type="text" name="databaseusername" required data-pattern="^[\w\d-_]+$" value="{{ db.username }}">
                    <span class="bar"></span>
                    <label class="upper">database user *</label>
                </div>
                <div class="txt-input txt-green">
                    <input type="password" name="databasepassword" required>
                    <span class="bar"></span>
                    <label class="upper">Database password *</label>
                </div>

                <h3 class="black upper">Emercoin settings</h3>
                <div class="txt-input txt-green">
                    <input type="text" name="EMC_SERVER_USER" required data-pattern="^[\w\d-_]+$" value="{{ EMC_SERVER_USER }}">
                    <span class="bar"></span>
                    <label class="upper">username *</label>
                </div>
                <div class="txt-input txt-green">
                    <input type="password" name="EMC_SERVER_PASSWORD" required>
                    <span class="bar"></span>
                    <label class="upper">user password *</label>
                </div>
                <div class="txt-input txt-green">
                    <input type="text" name="EMC_SERVER_HOST" data-pattern="^[\w\d-_:\/\.]+$" value="{{ EMC_SERVER_HOST }}">
                    <span class="bar"></span>
                    <label class="upper">host</label>
                </div>
                <div class="txt-input txt-green">
                    <input type="text" name="EMC_SERVER_PORT" data-pattern="^[\d]{2,5}$" value="{{ EMC_SERVER_PORT }}">
                    <span class="bar"></span>
                    <label class="upper">port</label>
                </div>
                <div class="txt-input txt-green">
                    <select name="EMC_SERVER_PROTO" required>
                        <option value="https">https</option>
                        <option value="http">http</option>
                    </select>
                    <span class="bar"></span>
                    <label class="upper">protocol *</label>
                </div>

                <input class="btn btn-green-inactive upper" disabled id="submit" type="submit" value="Apply">
            </form>
        </div>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/config-main.js') }}"></script>
    {% endif %}
</body>
</html> 
